.catalog{
padding-bottom: 80px;
}
.container_catalog{
    padding-right: 0;
}

.heading-h2_margin{
    margin-top: 0;
    margin-bottom: 24px;
}

.catalog__slider-box{
    margin-bottom: 16px;
    position: relative;
}
.catalog__slider-box:last-child{
    margin-bottom: 0px;
}