.hero {
  padding-top: 25px;
  background: url(../img/hero-planet.png) no-repeat center center;
  background-size: 480px 215px;
  background-position: center bottom;
  height: 400px;
  margin: 0 auto;
}
.container_hero {
  padding-bottom: 0;
  overflow-y: hidden;
  position: relative;
}

.hero__title {
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  display: inline-block;
  margin-bottom: 16px;
  &_accent {
    background: linear-gradient(89.89deg, #800bf5 1.34%, #25c6f9 40.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.hero__text {
  font-size: 18px;
  line-height: 22px;
  &_accent {
    color: $color-blue;
  }
}
.hero__img_1 {
  position: absolute;
  bottom: 45px;
  left: 0px;
}
.hero__img_2 {
  position: absolute;
  bottom: 118px;
  left: 250px;
}

.hero__form {
  margin-top: 188px;
  display: grid;
  grid-template-columns: 1fr 48px;
&_label{
  display: grid;
}
  &_input {
    padding: 0 24px;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(28px);
    border: none;
    border-radius: 136px;
    color: $color-white;
    outline: none;
    width: inherit;
    height: 48px;

    &::placeholder {
      color: $color-white;
      opacity: 0.4;
      font-size: 18px;
      font-family: "PT Sans", sans-serif;
      font-weight: 400;
    }
  }
  &_btn {
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(28px);
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
