.opportunities{

}
.heading-h2_opportunities{
    margin-bottom: 16px;
}
.heading-h2_span{
    color: $color-blue;
}
.opport_text{
    font-size: 20px;
    opacity: 0.4;
    line-height: 24px;
    margin-bottom: 40px;
}