.payment {
  padding-bottom: 61px;
}

.payment__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 61px;
}
.payment__item {
  position: relative;
  padding: 24px;
  border-radius: 26px;
  background: linear-gradient(
    136deg,
    rgba(20, 6, 61, 1) 4%,
    rgba(128, 11, 245, 0.6) 114%
  );
  &_free {
  }
  &_pay {
  }

  &_deskr {
    font-size: 20px;
    line-height: 130%;
  }
  &_span {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  &_img-tree {
    position: absolute;
    top: -18px;
    right: 18px;
  }
   &_img-star {
    position: absolute;
    top: -44px;
    right: -13px;
  }
}
.heading-h2_payment {
  margin-top: 0;
  margin-bottom: 16px;
}
