.slider-container {
  position: relative;
  overflow-x: hidden;
  height: 140px;
  @media screen and (min-width: 768px) {
    height: 216px;
  }
  @media screen and (min-width: 1440px) {
    height: 200px;
  }
}

.slider-width {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
  gap: 8px;
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
  @media screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.slider-img {
  height: 140px;
  width: 244px;
  @media screen and (min-width: 768px) {
    height: 216px;
    width: 336px;
  }
  @media screen and (min-width: 1440px) {
    height: 200px;
    width: 312px;
  }
}

.item {
  height: 140px;
  width: 244px;
  @media screen and (min-width: 768px) {
    height: 216px;
    width: 336px;
  }
  @media screen and (min-width: 1440px) {
    height: 200px;
    width: 312px;
  }
}

.btn-slider {
  cursor: pointer;
  background: $color-blue;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50px;
  &_left {
    left: 0;

    & img{
      transform: rotate(180deg);
    }
  }
  &_right {
    right: 0;
  }

  height: 48px;
  width: 48px;
  @media screen and (min-width: 768px) {
    height: 80px;
    width: 80px;
  }
}
